<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/calorieEstimation">Estimated Calorie Calculator</a></li>
        <li><a href="/recipeSearch">Recipe Search</a></li>
        <li><a href="/nutritionTracker">Nutrition Tracker</a></li>
    </ul>
</nav>